.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.el-link-decoration {
    color: #5393e0;
    text-decoration-line: underline
}

.pa-2 {
    padding: 8px;
}

.mt-2 {
    margin-top: 8px;
}

.go-back-header {
    padding: 10px;
    display: flex;
    align-items: center;
}

.text-400-8 {
    font-weight: 400;
    font-size: 8px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-400-9 {
    font-weight: 400;
    font-size: 9px;
    font-family: 'Inter';
    letter-spacing: normal;
    -webkit-text-size-adjust: none;
}

.text-400-10 {
    font-weight: 400;
    font-size: 10px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-400-11 {
    font-weight: 400;
    font-size: 11px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-400-12 {
    font-weight: 400;
    font-size: 12px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-400-14 {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-400-16 {
    font-weight: 400;
    font-size: 16px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-400-28 {
    font-weight: 400;
    font-size: 28px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-500-8 {
    font-weight: 500;
    font-size: 8px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-500-9 {
    font-weight: 500;
    font-size: 9px;
    font-family: 'Inter';
    letter-spacing: normal;
    -webkit-text-size-adjust: none;
}

.text-500-10 {
    font-weight: 500;
    font-size: 10px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-500-12 {
    font-weight: 500;
    font-size: 12px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-500-13 {
    font-weight: 500;
    font-size: 13px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-500-14 {
    font-weight: 500;
    font-size: 14px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-600-8 {
    font-weight: 600;
    font-size: 8px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-600-9 {
    font-weight: 600;
    font-size: 9px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-600-10 {
    font-weight: 600;
    font-size: 10px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-600-12 {
    font-weight: 600;
    font-size: 12px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-600-13 {
    font-weight: 600;
    font-size: 13px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-600-14 {
    font-weight: 600;
    font-size: 14px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-600-16 {
    font-weight: 600;
    font-size: 16px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-700-8 {
    font-weight: 700 !important;
    font-size: 8px !important;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-700-10 {
    font-weight: 700 !important;
    font-size: 10px !important;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-700-12 {
    font-weight: 700 !important;
    font-size: 12px !important;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-700-14 {
    font-weight: 700 !important;
    font-size: 14px !important;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-700-16 {
    font-weight: 700;
    font-size: 16px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-700-18 {
    font-weight: 700;
    font-size: 18px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-700-22 {
    font-weight: 700;
    font-size: 22px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-700-20 {
    font-weight: 700;
    font-size: 20px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-800-8 {
    font-weight: 800;
    font-size: 8px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-800-10 {
    font-weight: 800;
    font-size: 10px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-800-12 {
    font-weight: 800;
    font-size: 12px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-800-14 {
    font-weight: 800;
    font-size: 14px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-800-16 {
    font-weight: 800;
    font-size: 16px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-800-18 {
    font-weight: 800;
    font-size: 18px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-800-20 {
    font-weight: 800;
    font-size: 20px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-800-22 {
    font-weight: 800;
    font-size: 22px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-800-24 {
    font-weight: 800;
    font-size: 24px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-800-26 {
    font-weight: 800;
    font-size: 26px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-800-28 {
    font-weight: 800;
    font-size: 28px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-800-32 {
    font-weight: 800;
    font-size: 32px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-900-20 {
    font-weight: 900;
    font-size: 20px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-900-24 {
    font-weight: 900;
    font-size: 24px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-900-28 {
    font-weight: 900;
    font-size: 28px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-900-18 {
    font-weight: 900;
    font-size: 18px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-900-16 {
    font-weight: 900;
    font-size: 16px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-900-14 {
    font-weight: 900;
    font-size: 14px;
    font-family: 'Inter';
    -webkit-text-size-adjust: none;
}

.text-900-12 {
    font-weight: 900;
    font-size: 12px;
    font-family: 'Inter';
    font-style: normal;
    -webkit-text-size-adjust: none;
}

.text-900-10 {
    font-weight: 900;
    font-size: 10px;
    font-family: 'Inter';
    font-style: normal;
    -webkit-text-size-adjust: none;
}

.text-900-9 {
    font-weight: 900;
    font-size: 9px;
    font-family: 'Inter';
    font-style: normal;
    -webkit-text-size-adjust: none;
}

.text-900-11 {
    font-weight: 900;
    font-size: 11px;
    font-family: 'Inter';
    font-style: normal;
    -webkit-text-size-adjust: none;
}

.text-900-24 {
    font-weight: 900;
    font-size: 24px;
    font-family: 'Inter';
    font-style: normal;
    -webkit-text-size-adjust: none;
}

.text-900-30 {
    font-weight: 900;
    font-size: 30px;
    font-family: 'Inter';
    font-style: normal;
    -webkit-text-size-adjust: none;
}